<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,646},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,646},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_15_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_14_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1550,809}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aec77a6895eddcbcbbdba450be55a65c$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
